.links{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#list-item1, #list-item2{
    margin-right: 14px;
}

a:link {
    color: black;
    background-color: white;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: white;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: white;
    text-decoration: none;
}

a:active {
    color: black;
    background-color: white;
    text-decoration: none;
}

img {
    height: 92px;
    aspect-ratio: auto 272 / 92;
}


.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 55px;
}

.textbar{
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    max-width: 584px;
    margin-top: 20px;
    text-indent: 20px;
    padding-left: 45px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 16px;
}

input[type=text]:focus {
    caret-color: grey;
    text-indent:20px;
    outline: none;
}

.input-icons {
    position: absolute;
    padding-left: 20px;
    padding-top: 32px;
    color: grey;
}

[placeholder]:focus::-webkit-input-placeholder {
    opacity: 0;
}

.button_design{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.large_textbar{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.mic_icon {
    height: 24px;
    width: 24px;
    left: 519px;
    bottom: 18px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;

}

.camera_icon{
    height: 22px;
    width: 22px;
    left: 569px;
    bottom: 41px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.advanced_search{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    font-family: arial, sans-serif;
    font-weight: normal;
}

.row{
    border-bottom: 1px solid #ebebeb;
}

.second_header{
    font-size: 16px;
    color: #333333;
    margin-left: 38px;
    margin-top: 38px;
}

.table_design{
margin-left: 38px;
border-collapse: collapse;
}

.td1{
    width : 180px;
    font-size: 13px;
    height: 30px;
    font-family: arial, sans-serif;
}

.td2{
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 29px;
    width: 575px;
    padding-right: -40px;
    margin-bottom: 11px;
}

.top_left_logo{
    margin: 18px;
    position: absolute;
    width: 74px;
    height: 24px;

}
#spaceout{
    height: 60px;
}

input:focus {
    outline: none;

    border-color: #4D90FE;
}

.advanced_search_button_design{
    position: relative;
    left: 455px;
    width: 120px;
    height: 30px;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    margin-right: 16px;
    line-height: 27px;
    min-width: 54px;
    outline: 0;
    padding: 0 8px;
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    color: #fff;
}


